@import"./normalize.css";

body{
    font-family: 'Merriweather', serif;
}
/* header styling starts*/
header{
    text-align: center;
}
h1{
    background-color:black;
    color:white;
    padding:30px;
    margin:0;
    font-size:2.5rem;
    word-spacing: 2px;
}
.head-description{
    width:90%;
    margin:0px auto;
    padding:20px 0px;
    border-bottom:5px solid black;
}
.head-description h2{
    font-size:2.5rem;
    font-weight:bolder;
}
.head-description p{
    font-size:1.8rem;
    color:lightgray;
}
/* header styling ends */

/* main styling starts */
.form-list{
    width:90%;
    margin:4px auto;
    border-top:2px solid black;
}
.contact-info{
    border:none;
    padding-bottom:20px;
    display:flex;
    flex-direction:column;

}
.contact-info legend{
    padding-top:5%;
    font-size:2.3rem;
    font-weight:bolder;
}
.contact-border{
    border-bottom:3px solid black;
    background: #3e3e494d;
}
.text label, .news-option label{
    display:block;
    color:gray;
    margin:20px 0px;
    font-size:1.8rem;
}
.text input, .text select, textarea{
    display:block;
    padding:10px;
    width:100%;
    height:60px;
    font-size:1.8rem;
    background-color:whitesmoke;
    border:1px solid whitesmoke;
    border-radius:5px;
    outline:none;
    transition:all 0.5s ease;
}
textarea{
    height:200px;
}
input:focus,textarea:focus{
    border-bottom:3px solid black;
    background-color:gray;
}
input::placeholder{
    color:lightgray;
    font-style:italic;
    text-align:right;
    font-size:1.5rem;
}
/* select option styling  starts*/
.select-style select {
    display:block;
    height:63px;
    font-size:2rem;
    color:lightgray;
} 
#zip{
    width:30%;
}
.news-option{
    margin:30px 0px;
}
.news-option>*{
    display:block;
}
/* select option styling ends*/

/* checkbox and radio option styling starts*/
input[type="checkbox"],input[type="radio"]{
    position:absolute;
    left:-99px;
}
input[type="checkbox"] + .news-item, input[type="radio"] + .news-item{
    position: relative;
    cursor:pointer;
}
.news-item::before{
    content:"";
    width:15px;
    height:15px;
    margin-right:10px;
    background-color:white;
    border:0.5px solid black;
    border-radius:4px;
    display: inline-block;
    text-align:left;
    color:grey;
}
input[type="checkbox"]:checked + label::after, input[type="radio"]:checked + label::after{
    content:"\2713";
    position: absolute;
    left:1px;
    color:white;
    font-size:13px;
    background-color:rgb(7, 139, 248);
    padding:1px 2px ;
}
.news-second-item::before{
     border-radius:50%;
}
input[type="radio"]:checked +label:after{
    content:"\2022";
    border:1px solid rgb(7, 139, 248);
    border-radius:50%;
    padding:0 4px;
}
div button[type="submit"]{
    width:100%;
    padding:20px;
    font-size:2.5rem;
    background-color:cadetblue;
    color:white;
    border-radius:5px;
}
/* checkbox and radio option styling ends*/
/* main styling ends */

/* footer styling starts */
footer{
    padding-bottom:30%;
    text-align: center;
    color:lightgray;
    font-style:italic;
    font-size:1.8rem;
}
/* footer styling ends*/

/* media queries */
@media(min-width:768px){
    .head-description,.form-list{
      width:80%;  
    }
    .text label, .text input, .text select {
        display:inline-block;
        margin-right:-5px;
        margin-top:20px;
    }
    .text label{
        width:30%; 
    }
    .text input, .text select{
        width:70%;  
    }
    input:focus,textarea:focus{
        border:2px solid black;
    }
}